.header {
  background-color: #B58181;
  width: 100%;
  height: 72px;
}

.AppTitle {
  font-size: 36px;
  margin: 0;
  padding-top: 12px;
  color: #EAEAEA;
}

.AppSubtitle {
  font-size: 25px;
  margin: 0;
  padding-top: 55px;
}

input {
  width: 350px;
  height: 25px;
  font-size: 25px;
  text-align: center;
  margin-top: 80px;
}

.LoginButton {
  height: 60px;
  width: 180px;
  margin-top: 100px;
  background-color: #B58181;
  color: #EAEAEA;
  font-size: 25px;
  border: none;
  border-radius: 120px / 40px;
}