.header {
  background-color: #B58181;
  width: 100%;
  height: 72px;
  display: flex;
}

.ListIcon {
  margin-top: 22px;
  transform: scale(2.2);
  margin-left: 20px;
  color: #434343;
}

.AccountCircleIconBackground {
  display: block;
  background-color: #D9D9D9;
  height: 30px;
  padding-top: 5px;
  margin-top: 17px;
}

.AccountCircleIcon {
  transform: scale(2.2);
  color: #434343;
}

.AppTitle {
  font-size: 36px;
  margin: 0;
  padding-top: 12px;
  color: #EAEAEA;
}

.AppSubtitle {
  font-size: 25px;
  margin: 0;
  padding-top: 55px;
}

input {
  width: 350px;
  height: 25px;
  font-size: 25px;
  text-align: center;
  margin-top: 80px;
}

.LoginButton {
  height: 60px;
  width: 180px;
  margin-top: 100px;
  background-color: #B58181;
  color: #EAEAEA;
  font-size: 25px;
  border: none;
  border-radius: 120px / 40px;
  transition: 0.3s;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
   
  -webkit-tap-highlight-color: transparent;
  transition: .2s ease-out;
}

.LoginButton:hover {
	transform: translateY(-4px);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 7px -2px rgba(0, 0, 0, 0.2);
}

.SigninHref {
  display: block;
  margin-top: 20px;
  font-size: 20px;
}

.SigninHref:hover {
  color: #5e719d;
}